/* bussinga! */
.disclaimer {
  display: none;
}
* {
  transition: none;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  margin: auto;
  font-family: Lexend, Arial, sans-serif;
  color: #dddddd;
  background-color: #181818;
}
h1, h2, h3, h4, h5, h6, p, a, ul, ol {
  margin: 0px;
}
input, button {
  font-family: Lexend, Arial, sans-serif;
  color: #dddddd;
  padding: 5px;
  margin: 2px;
  border: 2px #dddddd solid;
  background: transparent;
  box-shadow: none;
}
button {
  cursor: pointer;
  transition: background 250ms;
}
button:hover {
  background-color: #444444;
}

.query {
  width: 15vw;
}

.results {
  display: flex;
  gap: 5px;
  flex-direction: column;
  width: 100%;
  padding-left: 5px;
  overflow: hidden;
  box-sizing: border-box;
}
.results > div {
  position: relative;
  display: flex;
  gap: 5px;
  align-items: center;
}
.results > div::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -5px;
  width: 2px;
  height: 100%;
  background: var(--color);
}
img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}
.results > div > div {
  width: 100%;
}