/* bussinga! */
.disclaimer {
  display: none;
}
*:not(button) {
  transition: none !important;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50dvw;
  min-width: min(500px, 100dvw);
  margin: auto;
  padding: 0px;
  font-family: Lexend, Arial, sans-serif;
  color: #ddd;
  background-color: #181818;
}
h1, h2, h3, h4, h5, h6, p, a, ul, ol {
  margin: 0px;
}
a {
  color: #7ad;
}
input, button {
  font-family: Lexend, Arial, sans-serif;
  color: #ddd;
  padding: 8px;
  border: none;
  background-color: #333;
  box-shadow: none;
}
input {
  border-radius: 1rem;
}
button {
  cursor: pointer;
  border-radius: 0.5rem;
  transition: background 250ms;
}
button:hover {
  background-color: #444;
}

row {
  direction: row;
}
.row {
  display: flex;
  gap: 5px;
  flex-direction: row;
}

.query {
  width: 20vw;
  min-width: min(250px, 100dvw);
}

.results {
  display: flex;
  gap: 5px;
  flex-direction: column;
  width: 100%;
  padding-left: 5px;
  overflow: hidden;
  box-sizing: border-box;
}
.results > div {
  position: relative;
  display: flex;
  gap: 5px;
  align-items: center;
}
.results > div::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -5px;
  width: 2px;
  height: 100%;
  background: var(--color);
}
img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}
.results > div > div {
  width: 91.5%;
}

.small {
  font-size: 12px;
}

.extra-math, .extra-dictionary, .extra-translate {
  width: fit-content;
  margin: 10px auto;
  padding: 10px;
  border-radius: 1rem;
  background: #333;
}
